@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);


// fonts
@font-primary: 'Roboto', sans-serif;

// colors

@white: #fff;
@gray: #6d6d6d;
@seashell: #f1f1f1;

// header
@jumbotron-header-height: 800px;
@header-subtitle-font-size: 24px;
@header-subtitle-font-weight: 300;
@header-title-font-size: 60px;
@header-title-font-weight: 700;

// navigation

@navbar-color: @white;
@navbar-color-hover: @gray;
@navbar-brand-font-size: 24px;
@navbar-brand-font-weight: 900;

// borders

@section-border: 1px solid @seashell;