.main-header {
	color: @white;
	margin-top: 20%;
	@media @md, @sm, @xs {
		margin-top: 10%;
	}
}

.header-subtitle {
	font-size: @header-subtitle-font-size;
	font-weight: @header-subtitle-font-weight;
	@media @xs {
		font-size: 20px;
	}
}

.header-title {
	font-size: @header-title-font-size;
	font-weight: @header-title-font-weight;
	text-transform: uppercase;
	@media @xs {
		font-size: 30px;
		margin-top: 0;
	}
}