body {
	font-family: @font-primary;
}


// Displays the history of the company just below the header
.our_history {
	border-bottom: @section-border;
	&__title {
	font-weight: 700;
	font-size: 48px;
	text-transform: uppercase;
	}
	&__lockup {
		margin-top: 25%;
	}
	&__newstext-lockup {
		margin-top: 5%;
	}

	&__newstext {
		font-weight: 300;
		color: #b7b7b7;
		font-size: 16px;
		line-height: 30px;
	}
}

// Displays the information about buying the product, payment methods
// and delivery

.information {
	padding-top: 88px;
	&__headers {
		text-align: center;
		margin-bottom: 125px;
	}
	&__title {
		font-size: 30px;
		font-weight: 700;
		line-height: 40px;
		color: #464646;
	}
	&__subtitle {
		font-weight: 300;
		font-size: 18px;
		line-height: 30px;
		color: #b7b7b7;
	}
}

.fa-home {
	font-size: 64px;
	color: red;
}