body {
	font-family: @font-primary;
}


// Displays the history of the company just below the header
.our_history {
	border-bottom: @section-border;
	&__title {
		.aside-title-large;	
	}
	&__lockup {
		margin-top: 25%;
	}
	&__newstext-lockup {
		margin-top: 5%;
	}

	&__newstext {
		font-weight: 300;
		color: #b7b7b7;
		font-size: 16px;
		line-height: 30px;
	}
}

// Displays the information about buying the product, payment methods
// and delivery

.information {
	padding-top: 88px;
	&__headers {
		text-align: center;
		margin-bottom: 125px;
	}
	&__title {
		.title-default(40px);
	}
	&__subtitle {
		.subtitle-default;

		font-size: 18px;
		line-height: 30px;
	}
	&__block {
		margin-bottom: 77px;
		&:nth-child(1n + 4) {
			margin-bottom: 95px;
		}
		&--title {
			.title-default(40px, @font-size: 18px);
			
			margin-top: 0; // reset the margin to allow for perfect font icon bottom margin
		}
		&--text {
			.subtitle-default;

			line-height: 24px;
			font-size: 16px;
			margin-bottom: 0; // reset the margin to allow for perfect block bottom margin
		}
	}
}


span[icon] {
	font-size: 64px;
	color: red;
	margin-bottom: 30px;
}

.gallery {
	position: relative;
	background-color: @bg-section;
	padding: 95px 0;
	&-item__title {
		.title-default(@line-height: 40px);
	}
	&-item__subtitle, &-item__text {
		.subtitle-default();

		line-height: 30px;
		font-size: 18px;
		margin-bottom: 37px;
	}
}

.arrow-left {
	.vertical-center();
	.arrow();
}

.arrow-right {
	.vertical-center();
	.arrow(@side: right);	
}

.arrow-left::before {
	content: '\f053';
	font-family: FontAwesome;
}

.arrow-right::before {
	content: '\f054';
	font-family: FontAwesome;
}

.our_strengths {
	padding-top: 90px;
	padding-bottom: 25px;
	&__item-lockup {
		margin-bottom: 75px;
	}
	&__side-title {
		.aside-title-large;

		margin-top: 90px;
	}
	&__item-title {
		font-weight: bold;
		font-size: 18px;
		line-height: 18px;
		margin-top: 0;
		color: #464646;
	}
	&__item-text {
		font-size: 16px;
		color: #b7b7b7;
		line-height: 24px;
	}
}

.collection {
	padding-bottom: 90px;
	&__image {
		float: left;
	}
	&__title {
		.aside-title-large;

		width: 50%;
	}
	&__subtitle {
		.subtitle-default;

		margin-top: 40px;
	}
	&__aside {
		padding-left: 45px;
		padding-top: 25px;
	}
}

.aside__text {
	.text-default;

	clear: both;
	width: 85%;
	padding-top: 55px;
	&--right {
		width: 115%;
	}
}

.comments {
	background-color: @bg-section;
	padding-top: 79px;
	// headers
	&__titles-lockup {
		text-align: center;
		padding-bottom: 80px;
	}
	&__title {
		.title-default(40px);
	}
	&__subtitle {
		.subtitle-default;

		font-size: 18px;
		line-height: 30px;
	}
	// The comment module
	&__lockup {
		float: left;
		width: 83%;
		margin-left: 22px;
		margin-bottom: 100px;
	}
	&__author {
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		color: #464646;
		margin-top: 10px;
	}
	&__job-description {
		font-weight: lighter;
		font-size: 14px;
		line-height: 24px;
		color: #b7b7b7;
	}
	&__comment {
		font-size: 16px;
		line-height: 24px;
		color: #b7b7b7;
	}
}

.comment-icon {
	.comment-icon;
	> span {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.photo-blog {
	padding-top: 100px;
	&__title {
		.aside-title-large;

		margin-top: 74px;
		margin-bottom: 0;
		width: 60%; 
	}
	&__subtitle {
		.subtitle-default;
		margin-top: 56px;		
		margin-bottom: 56px;
	}
	&__text {
		.text-default;

		font-weight: 400;
		&--right {
			clear: both;
			padding-top: 85px;
		}
	}
}