body {
	font-family: @font-primary;
}


// Displays the history of the company just below the header
.our_history {
	border-bottom: @section-border;
	&__title {
	font-weight: 700;
	font-size: 48px;
	text-transform: uppercase;
	}
	&__lockup {
		margin-top: 25%;
	}
	&__newstext-lockup {
		margin-top: 5%;
	}

	&__newstext {
		font-weight: 300;
		color: #b7b7b7;
		font-size: 16px;
		line-height: 30px;
	}
}

// Displays the information about buying the product, payment methods
// and delivery

.information {
	padding-top: 88px;
	&__headers {
		text-align: center;
		margin-bottom: 125px;
	}
	&__title {
		.title-default(40px);
	}
	&__subtitle {
		.subtitle-default;

		font-size: 18px;
		line-height: 30px;
	}
	&__block {
		margin-bottom: 77px;
		&--title {
			.title-default(40px, @font-size: 18px);
			
			margin-top: 0; // reset the margin to allow for perfect font icon bottom margin
		}
		&--text {
			.subtitle-default;

			line-height: 24px;
			font-size: 16px;
			margin-bottom: 0; // reset the margin to allow for perfect block bottom margin
		}
	}
}

span[icon] {
	font-size: 64px;
	color: red;
	margin-bottom: 30px;
}

.arrow-left {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.arrow-left::before {
	content: '\f053';
	font-family: FontAwesome;
}

.arrow-right::before {
	content: '\f054';

}